:root {
    --background-color: #1F2833;
    --text-color: #C5C6C7;
    --border-color: #384a5e;
    --link-color: #aec6cf;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
}

p, h1, h2, li {
    color: var(--text-color);
}

hr {
    height: 2px;
    background-color: var(--border-color);
    border: none;
}

::-webkit-scrollbar-track{
    border-left: 1px solid var(--border-color);
}

::-webkit-scrollbar {
    width: 18px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    border: 1px solid var(--border-color);
    background-color: var(--border-color);
}

.container {
    padding: 20px 40px;
}

.big-link {
    font-size: 1.5em;
}

